Options -Indexes

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  # Serve existing files/directories directly
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule . - [L]

  # Fallback all other requests to front controller
  RewriteRule ^ index.php [L]
</IfModule>

# Fallback if mod_rewrite is not available
<IfModule !mod_rewrite.c>
  DirectoryIndex index.php
</IfModule>